html, body {
	background: #2A2B2E;
	height:100%;
	margin: 0;
}

.container{
	min-height: 100%;
	margin-bottom: -60px;
}

.header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	align-content: space-between;
}

.title{
	text-align:center; 
	font-size: 30px;
	text-decoration: underline yellow
}

.Ferrari{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	align-self: flex-end;
}

.Mclaren{
	align-self: flex-end;
}

.row{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.Race{
	padding: 2px 16px;
	margin: 4px;
	background-color: black;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 25px;
}

.push {
	height: 80px;
}

footer{
padding: 1rem;
height: 60px;
background-color: #101114;
color: white;
text-align:center; 
}



footer a {color: white; text-decoration:none;}

h1, h2 , h3 {
	color: white;
}